
*.cache

.vs/FlowPanel/v16/.suo

.vs/FlowPanel/v16/

*.dll

*.txt

*.pdb

*.props

*.json

*.xml

*.exe

*.sln

*.CopyComplete

*.user

*.config

FlowPanelApp/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/Razor/Views/Login/Index.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/Razor/Views/Login/CreateNewUser.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/FlowPanelApp.RazorTargetAssemblyInfo.cs

.vs/FlowPanel/DesignTimeBuild/.dtbcache.v2

PanelApi/PanelApi.csproj

*.csproj

FlowPanelApp/obj/Debug/net5.0/Razor/Views/Login/Login.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/Razor/Views/Login/Register.cshtml.g.cs

FlowPanelApp/obj/Debug/net5.0/Razor/Views/Login/LoginLayout.cshtml.g.cs
