@model LoginModel
@{
    Layout = null;
}

<head>

</head>

<body>
    <form asp-action="Login">
       @Html.HiddenFor(x => x.ReturnUrl)

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <span class="text-danger">
                @ViewBag.Message
            </span>
        }
        <div class="login-modal">
            <div class="title">
                <label>Login</label>
            </div>
            <div>
                <input type="text" class="form-control" name="username" placeholder="Username" />
            </div>
            <div>
                <input type="text" class="form-control" name="password" placeholder="Password" />
            </div>
            <div>
                <button class="login-btn">Log in</button>
            </div>
            <div>
                <button class="register-btn">Register</button>
            </div>
        </div>
    </form>
</body>


<style>
    .login-modal {
        width: 25%;
        height: 35%;
        background-color: rgba(255,255,255,0.13);
        padding: 10px;
        border: 2px solid;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 30px;
        color: #ffffff;
    }
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;
        max-height: 100vh;
        background-color: #080710;
    }
    .title {
        text-align: center;
        justify-content: center;
        display: flex;
        font-size: 34px;
    }

    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    .login-btn {
        margin-top: 50px;
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .register-btn {
        background: red;
        width: 150px;
        border-radius: 3px;
        padding: 5px 10px 10px 5px;
        background-color: rgba(255,255,255,0.27);
        color: #eaf0fb;
        text-align: center;
    }
</style>