@model IEnumerable<FlowPanelApp.Models.Announcement>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="page-title">           
            <p>
                <a asp-action="Create">
                    <div class="float-left" style="padding-bottom: 5px;">
                        <input type="button" class="btn btn-primary" value="Dodaj nowe ogłoszenie" />
                    </div>
                </a>
            </p>          
        <h1 class="display-4 middle-title">Ogłoszenia</h1>
        </div>
         
            @foreach (var item in Model)
            {
        <div class="container blog-section">
            <div class="date-and-title">
                    <div class="modal-title">
                        <h2>@item.Subject</h2>
                    </div>
                    <div class="creation-time-section">
                        <h7>@item.CreationTime</h7>
                    </div>
                </div>
                <div class="content">
                    @item.Content
                </div>
        </div>
            }         
        </div>
   



    <style>
    .page-title{
        display: flex;
    }

    .middle-title{
        margin-left: 20%;
        text-align: center;
    }
    .content{
        max-width: 50%;
        text-align: center;
        margin: auto;
        overflow-wrap: break-word;
    }

    .blog-section {
        padding: 10px;
        border: solid 2px black;
        margin-bottom: 5px;
    }

    .date-and-title{    
        display: flex;     
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .creation-time-section{  
      position: absolute;
      top: 0;
      right: 0;
    }

    .modal-title{
        
        align-items: center;
       
    }
    </style>
