@model FlowPanelApp.Models.Teacher

@{
    ViewData["Title"] = "EditViewTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />

</head>

<div class="return-section">
    <div>
        <h1>Edytuj opiekuna</h1>
    </div>
    <div class="float-right" style="padding: 5px">
        <button class="btn btn-secondary comeback-btn" onclick="location.href='@Url.Action("Index", "Classes")'">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTeacher" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeacherId" />
            <div class="form-group">
                <label class="control-label">Imię</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nazwisko</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Adres zamieszkania</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pesel</label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Wiek</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Zdjęcie</label>
                <input type="file" asp-for="Picture" name="file" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>
    .comeback-btn {
        border-radius: 50%;
    }

    .return-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>