@model IEnumerable<FlowPanelApp.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kursy</h1>

<p>
    <a asp-action="Create">Dodaj kurs</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa kursu
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>         
            <td>
                    @Html.ActionLink("Edytuj", "Edit", new { courseId=item.CourseId }) |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
