@model FlowPanelApp.Models.Grade

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dodaj nową ocenę</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGrade">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nazwa</label>
                <input asp-for="GradeName" class="form-control" />
                <span asp-validation-for="GradeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ocena</label>
                <input asp-for="GradeValue" class="form-control" type="text" step="0.5" />
                <span asp-validation-for="GradeValue" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div class="float-right" style="padding: 5px">
        <input type="button" class="btn btn-secondary" value="Wróć do listy" onclick="location.href='@Url.Action("Index", "Grade")'" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
