@model FlowPanelApp.Models.User

@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />

</head>

<div class="return-section">
    <div>
        <h1>Dodaj użytkownika</h1>
    </div>
    <div class="float-right" style="padding: 5px">
        <button class="btn btn-secondary comeback-btn" onclick="location.href='@Url.Action("Index", "User")'">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nazwa użytkownika</label>
                <input asp-for="UserName" class="form-control" required />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hasło</label>
                <input type="password" id="pwd" asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Powtórz hasło</label>
                <input type="password" id="pwdValidation" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="roleSelect">Rola</label>
                <select class="form-control" id="roleSelect" name="Role">
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>                  
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> Aktywny
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" id="createButton" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var pwd = document.getElementById("pwd");
    var pwdRetry = document.getElementById("pwdValidation");
    var submitButton = document.getElementById("createButton");
    
    pwd.addEventListener("input", checkPasswords);
    pwdRetry.addEventListener("input", checkPasswords);

    checkPasswords();

    function checkPasswords() {
        var password = pwd.value;
        var passwordRetry = pwdRetry.value;

        if (password !== passwordRetry || password.length <= 7) {
            submitButton.disabled = true;
        } else {
            submitButton.disabled = false;
        }
    }
</script>

<style>
    .comeback-btn {
        border-radius: 50%;
    }

    .return-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>