@model FlowPanelApp.Models.User

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edytuj użytkownika</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label class="control-label">Nazwa użytkownika</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hasło</label>
                <input type="password" id="pwd" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Powtórz hasło</label>
                <input type="password" id="pwdValidation" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="roleSelect">Rola</label>
                <select class="form-control" id="roleSelect" name="Role">
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="editButton" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div class="float-right" style="padding: 5px">
        <input type="button" class="btn btn-secondary" value="Wróć do listy" onclick="location.href='@Url.Action("Index", "User")'" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var pwd = document.getElementById("pwd");
    var pwdRetry = document.getElementById("pwdValidation");
    var submitButton = document.getElementById("editButton");

    pwd.addEventListener("input", checkPasswords);
    pwdRetry.addEventListener("input", checkPasswords);

    checkPasswords();

    function checkPasswords() {
        var password = pwd.value;
        var passwordRetry = pwdRetry.value;

        if (password !== passwordRetry || (password.length <= 7 && password.length >= 1)) {
            submitButton.disabled = true;
        } else {
            submitButton.disabled = false;
        }
    }
</script>
